    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>
					Currently I'm studying computer science, but in my spare time I'm working as a Developer at Bootzeil International (jan. 2022).
					Here I'm responsible for the internal software and hardware that supports the production department. <br><br>
					In the past I also have worked at various other companies as a mobile/backend developer.
					Here I gained various knowledge about iOS and Android development, but also about frameworks like Flask and Laravel. <br><br>
					At this moment I'm based in Haarlem, The Netherlands. <br><br>
					For my projects, click on the link below to go to my GitHub account.
				</p>
				<a href="https://github.com/luuk2016" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-github fa-fw"></i> <span class="network-name">GitHub</span></a>
            </div>
        </div>
    </section>