    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>
					I am a graduated computer science student. <br><br>
					In the past I've worked at various companies as a backend/mobile developer. <br>
                    I have experience with C#, Java, PHP, Swift, Python and frameworks such as .NET, Spring, Laravel, SwiftUI and Flask. <br><br>
					At this moment I'm based in Haarlem, The Netherlands. <br><br>
					For my projects, click on the link below.
				</p>
				<a href="https://github.com/luuk2016" target="_blank" class="btn btn-default btn-lg">
                    <i class="fab fa-github fa-fw"></i>
                    <span class="network-name">GitHub</span>
                </a>
            </div>
        </div>
    </section>
