    <!-- Resume Section -->
    <section id="resume" class="content-section text-center">
        <div class="resume-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My resume</h2>
                    <p>Click on the link below to see the most up-to-date version of my resume</p>
					<a href="https://linkedin.com/in/lkenselaar" target="_blank" class="btn btn-default btn-lg"><i class="fab fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </div>
            </div>
        </div>
    </section>